main {
    min-height: 85vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}
  
h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }


.carousel a {
  margin: 0 auto;
}

